<template>
    <base-modal
        :openModal="openInfo"
        title="Company Info"
        btnLHide
        @close="onClose"
        black
    >
        <v-layout row>
            <v-flex xs6 class="left">
                <div>Code</div>
                <div >Company Name</div>
                <div >Address</div>
                <div >Email</div>
                <div >Phone</div>
                <div >Created By</div>
                <div >Created Date</div>
                <div >Update By</div>
                <div >Update Date</div>
            </v-flex>
            <v-flex xs6 class="right">
                <div>{{comData.code||'...'}}</div>
                <div>{{comData.name||'...'}}</div>
                <div>{{comData.address||'...'}}</div>
                <div>{{comData.email||'...'}}</div>
                <div>{{comData.phone||'...'}}</div>
                <div>{{comData.createdBy||'...'}}</div>
                <div>{{comData.createdDate||'...'}}</div>
                <div>{{comData.updatedBy||'...'}}</div>
                <div>{{comData.updatedDate||'...'}}</div>
            </v-flex>
        </v-layout>
    </base-modal>
    
</template>

<script>
import BaseModal from '../../components/BaseModal'

export default {
    data(){
        return{
            //
        }
    },
    props: {
        openInfo: Boolean,
        comData: Object,
    },
    components: {
        BaseModal,
    },
    methods: {
        onClose(){
            this.$emit('close', false)
        }
    }
}
</script>

<style lang="stylus" scoped>
    .left
        text-align right 
        padding-right 10px
        padding-top 0px
    .right
        text-align left 
        padding-left 10px

    .left, .right
        div
            padding-top 10px
    
</style>

