<template>
    <base-modal-confirm 
        title="Delete Data Company"
        :openConf="openDel"
        :momData="comData"
        @submit="onSubmit"
        @close="onClose"
    />
</template>

<script>
import BaseModalConfirm from '../../components/BaseModalConfirm'
import HelperAPI from '../../functions/HelperAPI'

export default {
    components: {
        BaseModalConfirm,
    },
    data(){
        return{
            msg: '',
        }
    },
    props: {
        openDel: Boolean,
        comData: Object,
    },
    methods: {
        onSubmit(){
            HelperAPI.httpRequest('COMPANY', 'delete', this.comData, (success, httpMsg) => {
                console.log(httpMsg)
                if(success == true){
                    this.onClose()
                }else{
                    this.msg == httpMsg
                }
            })
        },
        onClose(){
            this.$emit('close', false)
        }
    }
}
</script>

