<template>
    <div>
        <!-- SIDEBAR CODE HERE -->
        <v-navigation-drawer
            v-model="drawer"
            fixed
            clipped
            app
        >
            <v-list dense>
                <!-- USER AVATAR -->
                <v-tooltip fixed right lazy offset-overflow transition="scale-transition">
                    <v-list-tile class="avatar-tile" @click="userModal = !userModal" avatar slot="activator">
                        <v-list-tile-avatar>
                            <img :src="userData.img">
                        </v-list-tile-avatar>
        
                        <v-list-tile-content>
                            <v-list-tile-title>{{userData.name}}</v-list-tile-title>
                            <v-list-tile-sub-title>
                                <v-icon small color="green">mdi-account-circle</v-icon>
                                <span class="avatar-text"><span class="grey--text text--lighten-1">{{userLocal.username}}</span></span>
                            </v-list-tile-sub-title>
                        </v-list-tile-content>
                    </v-list-tile>
                    <span>{{userData.role}}</span>
                </v-tooltip>
                <v-divider></v-divider>
                
                <!-- SIDEBAR LIST -->
                <v-subheader class="mt-3 grey--text text--darken-1">MASTER NAVIGATION</v-subheader>

                <v-hover v-for="item in sidebar" :key="item.text">
                   <!--  <router-link :to="url+item.route" slot-scope="{ hover }"> -->
                        <v-list-tile :class="item.class" @click="activeBar(item.route)" slot-scope="{ hover }">
                            <v-list-tile-action>
                                <v-icon v-if="!hover" :color="checkClass(0, item.class)">{{item.class == active ? item.iconHover: item.icon}}</v-icon>
                                <v-icon medium v-else :color="checkClass(0, item.class)">{{item.iconHover}}</v-icon> 
                            </v-list-tile-action>
                            <v-list-tile-content>
                                <v-list-tile-title :class="checkClass(1, item.class)">
                                    {{item.text}}
                                </v-list-tile-title>
                            </v-list-tile-content>
                        </v-list-tile>
                   <!--  </router-link> -->
                </v-hover>

            </v-list>
        </v-navigation-drawer>

        <!-- HEADER TOOLBAR CODE HERE -->
        <toolbar-header @draw="drawer = !drawer" />
    </div>
</template>

<script>
import toolbarObj from './toolbar.object.json'
import config from '../../config/default.config'
import ToolbarHeader from './ToolbarHeader'

export default {
    components: {
        ToolbarHeader,
    },
    data(){
        return {
            url: window.location.pathname,
            drawer : false,
            userModal: false, //WE WILL USE THIS LATTER
            sidebar : toolbarObj.sidebar, //ISI SIDEBAR
            active: 'list-active',
            pallet: {
                sidebarBackground: '#D3E9FB',
                sidebarFront: '#2196F3',
                
            },
            userLocal : JSON.parse(sessionStorage.getItem(config.LOCAL.USERDATA)),
            userData : {
                img : "https://cdn.vuetifyjs.com/images/lists/2.jpg",
                name : "Fauzi Al Aziz",
                username: 'fauzial',
                role : "Admin",
            }
        }
    },
    methods: {
        checkClass(code, cls){
            if(code == 0){
                if(cls==this.active){
                    return this.pallet.sidebarFront
                }else return ''
            }else if(code == 1){
                if(cls==this.active){
                    return 'list-text-active'
                }else return 'list-text'
            }
        },
        activeBar(url) {
            for(var i = 0; i <this.sidebar.length; i++){
                if(this.url+url == "/dashboard"+this.sidebar[i].route){
                    this.sidebar[i].class = this.active
                }else{
                    this.sidebar[i].class = 'list-tile'
                }
            }
            this.$router.push(this.url+url)

        },
        urlChanger() {
            /* debugger */
            let state = false
            for(var i = 0; i < this.sidebar.length; i++){
                if(window.location.pathname == "/dashboard"+this.sidebar[i].route){
                    state = true 
                    /* this.activeSidebar = "/dashboard"+this.sidebar[i].route */
                    this.sidebar[i].class = this.active
                   
                }else{
                    this.sidebar[i].class = 'list-tile'
                }
            }
            if(state == true){
                this.url = "/dashboard"
            }else this.url = window.location.pathname
            /* debugger */
        },
    },
    mounted() {
        this.urlChanger()
    }

}
</script>

<style lang="stylus">

sidebar-bground = #D8DCFE
sidebar-front = #2196F3
gray-default = #707070
gray-hover = #EEEEEE
header= #232323

.text-logout{
    margin-right: 10px;
    margin-top: 2px;
    margin-left: 5px;
}
.btn-logout{
    height: 46px !important;
}
.list-tile{
    boder-radius: 50px;
}
.list-tile:hover{
    background-color: gray-hover;
    /* border-right: 5px solid white; */
    /* margin-right: 10px */
    /* border-radius: 0px 50px 50px 0px; */

        
}
.list-active{
    background-color: sidebar-bground ;
    border-radius: 50px 0px 0px 50px;
    margin-left: 10px;
    /* border-right: 5px solid sidebar-front; */
}
.list-text{
    color: gray-default;
    

}
.list-text-active{
    color: sidebar-front;
    font-weight: bold;
    /* text-transform: uppercase; */
    /* letter-spacing: 1px; */
}
.avatar-tile{
    margin-bottom: 10px;
    margin-top: 5px;
}
.avatar-tile:hover{
    background-color: gray-hover;
}
.avatar-text{
    margin-left: 4px;
}
a{
    text-decoration-line: none;
    text-decoration-color: black !important;
}

.theme--light.v-list .v-list__tile--link:hover, .theme--light.v-list .v-list__tile--highlighted, .theme--light.v-list .v-list__group__header:hover{
    background: none;
}
</style>
