<template>
    <div>
        <toolbar />
        
        <v-content>
            <!-- <span v-if="show">
                <h1>This is Dashboard</h1>
            </span> -->
            <!-- <home v-if="show" /> -->
            <router-view />
        </v-content>
    </div>
</template>

<script>
import Toolbar from './toolbar/Toolbar'
import config from '../config/default.config'

export default {
    data() {
        return {
           show: false
        }
    },
    components: {
        Toolbar,
    },
    methods: {
        checkToken() {
            /* let cookie = window.helperCookie.getItem(config.LOCAL.TOKEN) */
            /* console.log(cookie) */
            /* let session = sessionStorage.getItem(config.LOCAL.USERDATA)
            console.log(session)
            debugger */
            
            if(!sessionStorage.getItem(config.LOCAL.TOKEN)){
                this.$router.push('/')
            }
            /* if(!localStorage.getItem(config.LOCAL.TOKEN)){
                this.$router.push('/')
            } */
        },
        /* dashboardShow(){
            if(window.location.pathname == "/dashboard"){
                this.show = true
            }else this.show = false
        }, */
    },
    mounted() {
        this.checkToken()
        debugger
        /* this.dashboardShow() */
    } 
}
</script>