<template>
    <base-modal
        :openModal="openConf"
        :title="title"
        btnR="No"
        btnL="Yes"
        btnReverse
        @submit="onSubmit"
        @close="onClose"
    >
        <div class="center">
            Are you sure want to delete this data?
            <div class="bold">{{momData.name!=null? momData.name: 'null'}}</div>
            {{momData.code}} 
        </div>
    </base-modal>
</template>

<script>
import BaseModal from './BaseModal'

export default {
    components: {
        BaseModal,
    },
    props: {
        title: String,
        openConf: Boolean,
        momData: Object,
    },
    methods: {
        onSubmit(){
            this.$emit('submit')
        },
        onClose(){
            this.$emit('close')
        },
    },
}
</script>

<style lang="stylus" scoped>
    .center
        text-align center
    .bold
        margin 7px 0px 7px 0px
        background-color #EEEEEE
        border-radius 8px
        border 1px solid #E0E0E0
        padding 2px 0px 3px 0px
        font-weight 700
</style>

