<template>
    <base-modal
        :openModal="openForm"
        :title="title",
        btnLHide
        @close="onClose"
        black
    >
        <v-layout row>
            <v-flex xs6 class="left">
                <div v-for="key in names" :key="key.front">
                    {{key.front}}
                </div>
            </v-flex>
            <v-flex xs6 class="right">
                <div v-for="key in names" :key="key.back">
                    {{dataNow[key.back]}}
                </div>
            </v-flex>
        </v-layout>
    </base-modal>
</template>

<script>
import BaseModal from './BaseModal'
import HelperData from '../function/HelperData'

export default {
    data(){
        return{
            //
        }
    },
    components: {
        BaseModal,
    },
    props: {
        title: String,
        names: Array,
        dataNow: Object,
        openForm: Boolean
    },
    methods: {

    },
    updated(){
        if(this.openForm == true){
            HelperData.objListMaker(this.names, (objList) => {
                this.names = objList
            })
        }
    }
}
</script>

<style lang="stylus" scoped>
    .left
        text-align right 
        padding-right 10px
        padding-top 0px
    .right
        text-align left 
        padding-left 10px

    .left, .right
        div
            padding-top 10px
    
</style>
