<template>
    <div class="table-apps">
        <v-layout row class="row">
            <v-flex xs6 class="tableTitle">
                <span class="headline">{{title}}
                    <span class="lostconnect-loading" v-if="isLoading">
                        <v-progress-circular
                            indeterminate
                            :width="2"
                            :size="10"
                            color="red"
                        ></v-progress-circular>
                    </span>
                </span>
                
            </v-flex>
            <v-flex xs6>
                <v-toolbar tile flat :color="pallet.baseBground" v-if="companyData.length>0||errStatus!='Lost connection with server.'">
                    <v-spacer></v-spacer>
                    <div class="allDelete">
                        <v-btn v-if="checkAll||inter" icon medium color="white" title="Delete all">
                            <v-hover>
                                <v-icon
                                        slot-scope="{hover}"
                                        :color="hover? pallet.black: pallet.checkbox2 "
                                >mdi-delete</v-icon>
                            </v-hover>
                        </v-btn>
                        
                    </div>
                    
                    <v-btn dark color="blue" depressed @click="openAdd = true" title="Add new data" icon>
                        <!-- <div class="add">Add</div> --> <v-icon >mdi-plus</v-icon>
                    </v-btn>
                </v-toolbar>
            </v-flex>
        </v-layout>
        <slot></slot>
    </div>
</template>

<script>
export default {

}
</script>

<style lang="stylus" scoped>

</style>
