<template>
    <transition name="modal">
        <div class="modal-mask" v-if="openModal">
            <div class="modal-wrapper">
                <div :class="container" ref="container">
                    <div :class="header">
                        <slot name="header">
                            {{title||'Base Modal'}}
                        </slot>
                    </div>
                    <!-- SLOT FOR INPUT -->
                    <div :class="body">
                        <slot></slot>
                    </div>
                    
                    <div class="modal-footer">
                        <v-layout row>
                            <v-flex xs6>
                                 <v-btn v-if="show" :flat="btnReverse? true: false" :color="btnReverse? '':'primary'" depressed small round @click="onBtnL">{{btnL||'Submit'}}</v-btn>
                            </v-flex>
                            <v-flex xs6>
                                <v-btn :flat="btnReverse? false: true" :color="black? 'white': btnReverse?'primary':'black'" depressed class="modal-button-right" small round @click="onBtnR">{{btnR||'Close'}}</v-btn>
                            </v-flex>
                        </v-layout>
                        
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
import smoothHeight from 'vue-smooth-height'

export default {
    //this thing use for smoth resize
    mixins:[smoothHeight],
    data(){
        return{
            show: true,
            container: 'modal-container',
            header: 'modal-header',
            body: 'modal-body',
        }
    },
    props: {
        openModal: Boolean,
        title: String,
        btnL: String,
        btnR: String,
        btnLHide: Boolean,
        black: Boolean,
        btnReverse: Boolean
    },
    methods: {
        onBtnL(){
            this.$emit('submit')
        },
        onBtnR(){
            this.$emit('close')
        },
        propsCheck(){
            if(this.btnLHide == true){
                this.show = false
            }else{
                this.show = true
            }
            if(this.black == true){
                this.container = 'modal-container-black'
                this.header = 'modal-header-black'
                this.body = 'modal-body-black'
            }
        }
    },
    mounted(){
        this.propsCheck()
        this.$smoothElement({
            el: '.modal-container',
        })
    }
}
</script>

<style lang="stylus" scoped>
    .modal-mask
        position fixed
        z-index 9998
        top 0
        left 0
        height 100%
        width 100%
        background-color rgba(0, 0, 0, .5);
        display table
        transition opacity .3s ease 
    .modal-wrapper
        display table-cell
        vertical-align middle
    .modal-container
        background-color #ffffff
    .modal-container, .modal-container-black
        width 350px
        margin 0px auto
        padding 20px 30px
        border-radius 10px
        box-shadow 0 2px 8px rgba(0, 0, 0, .33); 
        transition all .3s ease 
        overflow hidden
        will-change height 
    .modal-container-black
        background-color #1B1B1B
        width 450px
    .modal-header-black
        color #ffffff
    .modal-header, .modal-header-black
        font-size 18pt
        font-weight 500
        text-align center
    .modal-body-black
        color #ffffff/* 
        font-style italic */
    .modal-body, .modal-body-black
        margin 25px 14px
    .modal-footer
        .v-btn
            text-transform capitalize
    .modal-button-right
        float right
    
    /* Animation */
    .modal-enter
        opacity 0
    .modal-leave-active
        opacity 0
    .modal-enter .modal-container, .modal-enter .modal-container-black, .modal-leave-active .modal-container, .modal-leave-active .modal-container-black
        --webkit-transform scale(1.3)
        transform scale(1.3)
</style>
