<template>
    <base-modal
        :openModal="openForm"
        :title="title"
        btnR="Cancel"
        @submit="onSubmit"
        @close="onClose"
    >
        <v-form ref="form" v-model="valid" lazy-validation>
            <transition name="slide-fade" mode="out-in">
                <div :class="notif==0? 'notif': 'afternotif'" v-if="msg">{{msg}}</div>
            </transition>
            <v-text-field
                v-for="key in names" :key="key.back"
                v-model="data[key.back]"
                type="text"
                :label="key.front"
                :rules="rule"
                required
                                
            ></v-text-field>
        </v-form>
    </base-modal>   
</template>

<script>
import BaseModal from './BaseModal'
import HelperData from '../functions/HelperData'

export default {
    data(){
        return{
            notif: 0,
            data: {},
            rule: [ value => !!value || 'Required.', ],
        }   
    },
    components: {
        BaseModal,
    },
    props: {
        title: String,
        names: Array,
        msg: String,
        openForm: Boolean,
        dataNow: Object
    },
    methods: {
        onSubmit(){
            if(this.$refs.form.validate()){
                setTimeout(() => {
                    this.notif = 0
                }, 100)
                setTimeout(() => {
                    this.notif = 1
                }, 2000)
                this.$emit('submit', this.data)
            }   
        },
        onClose(){
            this.$emit('close')
        },
        
    },

    /* THIS FUCKER IS HARD TO GET I need it to reset the form everythime modal opened */
    beforeUpdate(){
        if(this.openForm == false){
            this.$refs.form.reset()
            this.notif = 0
        }
    },
    updated(){
        /* RUN EVERYTIME OPEN MODAL */
        if(this.openForm==true){
        
            /*  CHECK FOR EDIT MODAL
            want to access edit? dataNow must be filled! */
            if(this.dataNow){
                this.data=this.dataNow
            }

            /* GENERATE LIST OF OBJECT KEY
            letter we don't need crud if the DB key name was fixed, or we do need for special String */
            HelperData.objListMaker(this.names, (objList) => {
                this.names = objList
                debugger
            })
        }
    }

}
</script>

<style lang="stylus" scoped>
    .notif, .afternotif
        margin-bottom 15px
        border-radius 8px
        padding 2px 2px
        font-weight 400
        text-align center
    .notif
        background-color #E14C35
        color #ffffff
        transition: all .1s
    .afternotif
        background-color #FBE5E1
        color #C0341D
        transition: all 1.5s ease
    
    .slide-fade-enter-active, .slide-fade-leave-active 
        transition: all .5s ease
    
    .slide-fade-enter, .slide-fade-leave-to /* .fade-leave-active below version 2.1.8 */
        opacity: 0
        /* transform translateY(10px); */
    
</style>
