<template>

  <v-app>
    <router-view />
  </v-app>

</template>

<script>/* 
import helperCookie from './functions/helperCookie' */

export default {
  name: 'App',
  mounted() {
    /* Here I try to regist helperCookie in Window scope so
    no need to import helperCookie in another compnents.
    Just use it like localStorage! */
    /* window['helperCookie'] = helperCookie
    debugger */
  }
}
</script>

<style>
  .page{
    position: fixed;
    width: inherit;
  }
</style>

